/* Header */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    font-weight: 700;
}

header {
    text-align: center;
}

/* Layout */
.box {
    border: 1px solid rgb(70, 130, 180);
    margin: 20px auto;
    padding: 10px;
    display: block;
}

body {
    margin: 0 10%;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font-trebuchet, .font-gill, .font-verdana {
    display: inline-block;
    width: 45%;
}


/* Main */
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

h3 {
    text-decoration: underline;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/*Color Box */
.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.steelblue {
    background-color: steelblue;
}

.orange {
    background-color: rgb(233, 138, 5);
}

.olivegreen {
    background-color: darkolivegreen;
}

.khaki {
    background-color: khaki;
}

/* Fonts Box */
.font li {
    list-style: none;
    line-height: 2;
}

.font-trebuchet, .h1-style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-gill, .h2-style, .font-gill-ex {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font-verdana, .p-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

/* Text-Styles */
.text-styles li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Footer */
footer {
    margin: 30px;
    background-color: steelblue;
    text-align: center;
    font-size: 16px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: steelblue;
  }
  
  footer a:hover {
    color: lightgray;
  }
  
  footer span {
    margin: 200px;
  }